body {
  margin: 0 auto;
}
.header {
  margin-top: 20px;
  width: 100%;
}
.header > .inner {
  margin: 0 auto;
  width: 1200px;
  border: 1px solid 2px;
}
.header > .inner > .header-box {
  justify-content: space-between;
  display: flex;
}
.header > .inner > .header-box > .logo {
  width: 330px;
  height: 70px;
}
.logo .N {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: skyblue;
}
.logo .C {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: greenyellow;
}
.logo .inside {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: orange;
}
.header > .inner > .header-box > .search {
  width: 600px;
  height: 70px;
  display: flex;
}
.logo > .com {
  color: blue;
  font-family: "Kosugi Maru", sans-serif;
}
.search-box {
  width: 500px;
  height: 45px;
  border: 3px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* margin: 10px; */
}
.search-box > input {
  height: 40px;
  width: 265px;
  border: none;

  /* background-color: aqua; */
}
.search-box > .searchBtnBox {
  width: 50px;
  height: 40px;
  justify-content: right;
}
.header > .inner > .header-box > .alarm {
  width: 270px;
  height: 70px;
}
.header > .inner > .header-box > .alarm > ul {
  margin-top: 0%;
}
.header > .inner > .header-box > .alarm > ul > li {
  list-style: none;
  float: right;
  font-size: 15px;
}
.nav {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.nav > .navInner {
  margin: 0 auto;
  width: 1200px;
}
.nav > .navInner > .navBox {
  justify-content: space-between;
  display: flex;
}
.nav > .navInner > .navBox > .navBar {
  width: 930px;
  height: 60px;
}
.nav > .navInner > .navBox > .navBar > ul {
  flex-direction: column;
  align-items: center;
  height: 60px;
}
.nav > .navInner > .navBox > .navMigi > ul {
  height: 60px;
}
.nav > .navInner > .navBox > .navBar > ul > li {
  margin-right: 15px;
  position: relative;
  text-decoration: none;
  float: left;
  list-style: none;
  color: black;
  font-size: 22px;
  font-family: "Kosugi Maru", sans-serif;
}
.nav > .navInner > .navBox > .navMigi > ul > li {
  margin-left: 25px;
  text-decoration: none;
  float: right;
  list-style: none;
  color: black;
  font-size: 20px;
  font-family: "Kosugi Maru", sans-serif;
}
.nav > .navInner > .navBox > .navMigi {
  width: 270px;
  height: 60px;
}
.noticeText {
  width: 100%;
}
.noticeText > .noticeTextInner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}
.noticeText > .noticeTextInner > .noticeTextBox {
  width: 300px;
  font-weight: 600;
}
.noticeText > .noticeTextInner > .noticeTextBox > .osirase {
  font-size: 40px;
}
.noticeText > .noticeTextInner > .noticesearch {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.noticeText > .noticeTextInner > .noticesearch > .titleBox {
  width: 100px;
  height: 40px;
  border-right: 1px black solid;

  display: flex;
  justify-content: center;
  align-items: center;
}
.noticeText > .noticeTextInner > .noticesearch > .titleBox > p {
  font-size: 20px;
}
.noticeText > .noticeTextInner > .noticesearch > .inputBox {
  width: 150px;
  height: 40px;
}
.noticeText > .noticeTextInner > .noticesearch > .inputBox > input {
  width: 146px;
  height: 38px;
  border-style: none;
  outline: none;
}
.task-area {
  width: 100%;
}
.task-tabs {
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 2px solid lightgray;
  /* justify-content: space-between; */
  border-top: 1px solid lightgray;
  background-color: whitesmoke;
  border-radius: 10px;
}
.task-tabs div {
  padding: 1em;
}
.task-area > .task-tabs > div {
  width: 200px;
  align-items: center;
  border-left: 1px solid lightgray;
  font-size: 30px;
  font-family: "Kosugi", sans-serif;
  width: 300px;
}
.list {
  margin-top: 50px;
  width: 100%;
}
.list > .listInner {
  width: 1200px;
  margin: 0 auto;
}
.list > .listInner > .listbox {
  width: 1200;
  height: 1200px;
}
.list > .listInner > .listbox > ul {
  width: 1200;
  height: 1200px;
}
.list > .listInner > .listbox > ul:first-child {
  border-top: 2px solid lightgray;
}
.list > .listInner > .listbox > ul > li {
  height: 120px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: "Kosugi", sans-serif;
  /* border: 1px solid black; */
  border-bottom: 1px solid lightgray;
}

.list > .listInner > .listbox > ul > li > .time {
  padding-right: 35px;
  font-size: 15px;
  font-family: "Tahoma";
  color: #aaa;
  display: flex;
  align-items: center;
}
.list > .listInner > .listbox > ul > li > .time > .timeText {
  margin-right: 5px;
}
.footer-box {
  border-top: 3px solid black;
  margin-top: 50px;
  width: 100%;
  height: 100px;
}
.footer-box > #copyright {
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  text-align: center;
  padding-top: 50px;
}
